*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #533680;
    --secondary-color: #020646;
    --light-color: #ddd;
    --dark-color: #111;

    --space-1: .2rem;
    --space-2: .7rem;
    --space-3: 1rem;
    --space-4: 2rem;
    --space-5: 4rem;
}

button {
    cursor: pointer;
}

.button {
    background: var(--primary-color);
    border: none;
    padding: var(--space-3) var(--space-5);
    margin: var(--space-3) auto;
    color: var(--light-color);
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.title {
    color: var(--primary-color);
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: var(--space-4) 0;
}



.select {
    padding: var(--space-2);
    display: flex;

    label {
        --outline-width: 2px;
        width: 100%;
        outline: var(--outline-width) solid var(--primary-color);
        padding: var(--space-2);
        cursor: pointer;
        text-align: center;
        transition: 100ms;
    }


    label.checked  {
        --outline-width: 4px;
    }

    input {
        display: none;
    }
}