@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:after, *:before {
    font-family: serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    @apply flex justify-center uppercase cursor-pointer bg-primary-600 text-lg p-5
    text-white no-underline rounded-md border border-solid border-primary-600;

    &:disabled {
        @apply bg-slate-400 cursor-default;
    }
}

.button-group {
    @apply grid gap-2 my-3;

    .button {
        width: 270px;
    }

    > * {
        @apply flex justify-center
    }
}

.container {
    @apply max-w-4xl mx-auto w-full px-4
}

.title {
    @apply text-primary-600 text-2xl text-center mb-4
}

.loading {
    @apply relative bg-slate-400;

    &::after {
        @apply w-3 h-3 bg-primary-600 block absolute top-1/2 left-1/2 rounded-full;
        content: "";
        animation: loadingAnimation infinite alternate ease-in-out 1000ms;
        transform: translate(0px, -20px);
    }
}

@keyframes loadingAnimation {
    0% {
        transform: translate(40px, 0px);
    }
    25% {
        transform: translate(20px, -20px);
    }
    50% {
        transform: translate(0px, 0px);
    }
    75% {
        transform: translate(-20px, -20px);
    }
    100% {
        transform: translate(-40px, 0px);
    }
}